:root{
    --fundo: #e0ffff;
    --cartao-frente: #e6e6fa;
    --cartao-verso: #ffdead;
    --branco: white;
    --preto: black;
    --destaque: #b0c4de; 
}
body{
    background-color: var(--fundo);
}
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}